.foto1 {
    height: 35px;
    margin-left: 650px;
    position: relative;
    top: -397px;

}


.titulo {
    color: darkgreen;
    text-align: center;

}

.p1 {
    font-size: 20px;
    margin-left: 20px;
    font-weight: bolder;
}

.foto2 {
    margin-left: -650px;    
    position: relative;
    top: 100px;

}

.foto3 {
    width: -10px;
    margin-left: 100px;
    position: relative;
    top: 100px;
}

.foto4 {
    width: 160px;
    margin-left: 550px;
    position: relative;
    top: 100px;
    
}
.foto5 {
    width: 200px;
    margin-left: 760px;
    position: relative;
    top: -100px;

}

h2 {
    font-size: large;
}

h3 {
    font-size: large;
}

h4 {
    font-size: large;
}
h5{
    font-size: large;
}

.link{
    text-align: center;
}